* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.miho {
  width: 70vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: miho 24s infinite;
}

@keyframes miho {
  0%,
  100% {
    background-image: url('images/loligod/000000.webp');
  }

  0.17% {
    background-image: url('images/loligod/000001.webp');
  }

  0.33% {
    background-image: url('images/loligod/000002.webp');
  }

  0.50% {
    background-image: url('images/loligod/000003.webp');
  }

  0.67% {
    background-image: url('images/loligod/000004.webp');
  }

  0.83% {
    background-image: url('images/loligod/000005.webp');
  }

  1.00% {
    background-image: url('images/loligod/000006.webp');
  }

  1.17% {
    background-image: url('images/loligod/000007.webp');
  }

  1.33% {
    background-image: url('images/loligod/000008.webp');
  }

  1.50% {
    background-image: url('images/loligod/000009.webp');
  }

  1.67% {
    background-image: url('images/loligod/000010.webp');
  }

  1.83% {
    background-image: url('images/loligod/000011.webp');
  }

  2.00% {
    background-image: url('images/loligod/000012.webp');
  }

  2.17% {
    background-image: url('images/loligod/000013.webp');
  }

  2.33% {
    background-image: url('images/loligod/000014.webp');
  }

  2.50% {
    background-image: url('images/loligod/000015.webp');
  }

  2.67% {
    background-image: url('images/loligod/000016.webp');
  }

  2.83% {
    background-image: url('images/loligod/000017.webp');
  }

  3.00% {
    background-image: url('images/loligod/000018.webp');
  }

  3.17% {
    background-image: url('images/loligod/000019.webp');
  }

  3.33% {
    background-image: url('images/loligod/000020.webp');
  }

  3.50% {
    background-image: url('images/loligod/000021.webp');
  }

  3.67% {
    background-image: url('images/loligod/000022.webp');
  }

  3.83% {
    background-image: url('images/loligod/000023.webp');
  }

  4.00% {
    background-image: url('images/loligod/000024.webp');
  }

  4.17% {
    background-image: url('images/loligod/000025.webp');
  }

  4.33% {
    background-image: url('images/loligod/000026.webp');
  }

  4.50% {
    background-image: url('images/loligod/000027.webp');
  }

  4.67% {
    background-image: url('images/loligod/000028.webp');
  }

  4.83% {
    background-image: url('images/loligod/000029.webp');
  }

  5.00% {
    background-image: url('images/loligod/000030.webp');
  }

  5.17% {
    background-image: url('images/loligod/000031.webp');
  }

  5.33% {
    background-image: url('images/loligod/000032.webp');
  }

  5.50% {
    background-image: url('images/loligod/000033.webp');
  }

  5.67% {
    background-image: url('images/loligod/000034.webp');
  }

  5.83% {
    background-image: url('images/loligod/000035.webp');
  }

  6.00% {
    background-image: url('images/loligod/000036.webp');
  }

  6.17% {
    background-image: url('images/loligod/000037.webp');
  }

  6.33% {
    background-image: url('images/loligod/000038.webp');
  }

  6.50% {
    background-image: url('images/loligod/000039.webp');
  }

  6.67% {
    background-image: url('images/loligod/000040.webp');
  }

  6.83% {
    background-image: url('images/loligod/000041.webp');
  }

  7.00% {
    background-image: url('images/loligod/000042.webp');
  }

  7.17% {
    background-image: url('images/loligod/000043.webp');
  }

  7.33% {
    background-image: url('images/loligod/000044.webp');
  }

  7.50% {
    background-image: url('images/loligod/000045.webp');
  }

  7.67% {
    background-image: url('images/loligod/000046.webp');
  }

  7.83% {
    background-image: url('images/loligod/000047.webp');
  }

  8.00% {
    background-image: url('images/loligod/000048.webp');
  }

  8.17% {
    background-image: url('images/loligod/000049.webp');
  }

  8.33% {
    background-image: url('images/loligod/000050.webp');
  }

  8.50% {
    background-image: url('images/loligod/000051.webp');
  }

  8.67% {
    background-image: url('images/loligod/000052.webp');
  }

  8.83% {
    background-image: url('images/loligod/000053.webp');
  }

  9.00% {
    background-image: url('images/loligod/000054.webp');
  }

  9.17% {
    background-image: url('images/loligod/000055.webp');
  }

  9.33% {
    background-image: url('images/loligod/000056.webp');
  }

  9.50% {
    background-image: url('images/loligod/000057.webp');
  }

  9.67% {
    background-image: url('images/loligod/000058.webp');
  }

  9.83% {
    background-image: url('images/loligod/000059.webp');
  }

  10.00% {
    background-image: url('images/loligod/000060.webp');
  }

  10.17% {
    background-image: url('images/loligod/000061.webp');
  }

  10.33% {
    background-image: url('images/loligod/000062.webp');
  }

  10.50% {
    background-image: url('images/loligod/000063.webp');
  }

  10.67% {
    background-image: url('images/loligod/000064.webp');
  }

  10.83% {
    background-image: url('images/loligod/000065.webp');
  }

  11.00% {
    background-image: url('images/loligod/000066.webp');
  }

  11.17% {
    background-image: url('images/loligod/000067.webp');
  }

  11.33% {
    background-image: url('images/loligod/000068.webp');
  }

  11.50% {
    background-image: url('images/loligod/000069.webp');
  }

  11.67% {
    background-image: url('images/loligod/000070.webp');
  }

  11.83% {
    background-image: url('images/loligod/000071.webp');
  }

  12.00% {
    background-image: url('images/loligod/000072.webp');
  }

  12.17% {
    background-image: url('images/loligod/000073.webp');
  }

  12.33% {
    background-image: url('images/loligod/000074.webp');
  }

  12.50% {
    background-image: url('images/loligod/000075.webp');
  }

  12.67% {
    background-image: url('images/loligod/000076.webp');
  }

  12.83% {
    background-image: url('images/loligod/000077.webp');
  }

  13.00% {
    background-image: url('images/loligod/000078.webp');
  }

  13.17% {
    background-image: url('images/loligod/000079.webp');
  }

  13.33% {
    background-image: url('images/loligod/000080.webp');
  }

  13.50% {
    background-image: url('images/loligod/000081.webp');
  }

  13.67% {
    background-image: url('images/loligod/000082.webp');
  }

  13.83% {
    background-image: url('images/loligod/000083.webp');
  }

  14.00% {
    background-image: url('images/loligod/000084.webp');
  }

  14.17% {
    background-image: url('images/loligod/000085.webp');
  }

  14.33% {
    background-image: url('images/loligod/000086.webp');
  }

  14.50% {
    background-image: url('images/loligod/000087.webp');
  }

  14.67% {
    background-image: url('images/loligod/000088.webp');
  }

  14.83% {
    background-image: url('images/loligod/000089.webp');
  }

  15.00% {
    background-image: url('images/loligod/000090.webp');
  }

  15.17% {
    background-image: url('images/loligod/000091.webp');
  }

  15.33% {
    background-image: url('images/loligod/000092.webp');
  }

  15.50% {
    background-image: url('images/loligod/000093.webp');
  }

  15.67% {
    background-image: url('images/loligod/000094.webp');
  }

  15.83% {
    background-image: url('images/loligod/000095.webp');
  }

  16.00% {
    background-image: url('images/loligod/000096.webp');
  }

  16.17% {
    background-image: url('images/loligod/000097.webp');
  }

  16.33% {
    background-image: url('images/loligod/000098.webp');
  }

  16.50% {
    background-image: url('images/loligod/000099.webp');
  }

  16.67% {
    background-image: url('images/loligod/000100.webp');
  }

  16.83% {
    background-image: url('images/loligod/000101.webp');
  }

  17.00% {
    background-image: url('images/loligod/000102.webp');
  }

  17.17% {
    background-image: url('images/loligod/000103.webp');
  }

  17.33% {
    background-image: url('images/loligod/000104.webp');
  }

  17.50% {
    background-image: url('images/loligod/000105.webp');
  }

  17.67% {
    background-image: url('images/loligod/000106.webp');
  }

  17.83% {
    background-image: url('images/loligod/000107.webp');
  }

  18.00% {
    background-image: url('images/loligod/000108.webp');
  }

  18.17% {
    background-image: url('images/loligod/000109.webp');
  }

  18.33% {
    background-image: url('images/loligod/000110.webp');
  }

  18.50% {
    background-image: url('images/loligod/000111.webp');
  }

  18.67% {
    background-image: url('images/loligod/000112.webp');
  }

  18.83% {
    background-image: url('images/loligod/000113.webp');
  }

  19.00% {
    background-image: url('images/loligod/000114.webp');
  }

  19.17% {
    background-image: url('images/loligod/000115.webp');
  }

  19.33% {
    background-image: url('images/loligod/000116.webp');
  }

  19.50% {
    background-image: url('images/loligod/000117.webp');
  }

  19.67% {
    background-image: url('images/loligod/000118.webp');
  }

  19.83% {
    background-image: url('images/loligod/000119.webp');
  }

  20.00% {
    background-image: url('images/loligod/000120.webp');
  }

  20.17% {
    background-image: url('images/loligod/000121.webp');
  }

  20.33% {
    background-image: url('images/loligod/000122.webp');
  }

  20.50% {
    background-image: url('images/loligod/000123.webp');
  }

  20.67% {
    background-image: url('images/loligod/000124.webp');
  }

  20.83% {
    background-image: url('images/loligod/000125.webp');
  }

  21.00% {
    background-image: url('images/loligod/000126.webp');
  }

  21.17% {
    background-image: url('images/loligod/000127.webp');
  }

  21.33% {
    background-image: url('images/loligod/000128.webp');
  }

  21.50% {
    background-image: url('images/loligod/000129.webp');
  }

  21.67% {
    background-image: url('images/loligod/000130.webp');
  }

  21.83% {
    background-image: url('images/loligod/000131.webp');
  }

  22.00% {
    background-image: url('images/loligod/000132.webp');
  }

  22.17% {
    background-image: url('images/loligod/000133.webp');
  }

  22.33% {
    background-image: url('images/loligod/000134.webp');
  }

  22.50% {
    background-image: url('images/loligod/000135.webp');
  }

  22.67% {
    background-image: url('images/loligod/000136.webp');
  }

  22.83% {
    background-image: url('images/loligod/000137.webp');
  }

  23.00% {
    background-image: url('images/loligod/000138.webp');
  }

  23.17% {
    background-image: url('images/loligod/000139.webp');
  }

  23.33% {
    background-image: url('images/loligod/000140.webp');
  }

  23.50% {
    background-image: url('images/loligod/000141.webp');
  }

  23.67% {
    background-image: url('images/loligod/000142.webp');
  }

  23.83% {
    background-image: url('images/loligod/000143.webp');
  }

  24.00% {
    background-image: url('images/loligod/000144.webp');
  }

  24.17% {
    background-image: url('images/loligod/000145.webp');
  }

  24.33% {
    background-image: url('images/loligod/000146.webp');
  }

  24.50% {
    background-image: url('images/loligod/000147.webp');
  }

  24.67% {
    background-image: url('images/loligod/000148.webp');
  }

  24.83% {
    background-image: url('images/loligod/000149.webp');
  }

  25.00% {
    background-image: url('images/loligod/000150.webp');
  }

  25.17% {
    background-image: url('images/loligod/000151.webp');
  }

  25.33% {
    background-image: url('images/loligod/000152.webp');
  }

  25.50% {
    background-image: url('images/loligod/000153.webp');
  }

  25.67% {
    background-image: url('images/loligod/000154.webp');
  }

  25.83% {
    background-image: url('images/loligod/000155.webp');
  }

  26.00% {
    background-image: url('images/loligod/000156.webp');
  }

  26.17% {
    background-image: url('images/loligod/000157.webp');
  }

  26.33% {
    background-image: url('images/loligod/000158.webp');
  }

  26.50% {
    background-image: url('images/loligod/000159.webp');
  }

  26.67% {
    background-image: url('images/loligod/000160.webp');
  }

  26.83% {
    background-image: url('images/loligod/000161.webp');
  }

  27.00% {
    background-image: url('images/loligod/000162.webp');
  }

  27.17% {
    background-image: url('images/loligod/000163.webp');
  }

  27.33% {
    background-image: url('images/loligod/000164.webp');
  }

  27.50% {
    background-image: url('images/loligod/000165.webp');
  }

  27.67% {
    background-image: url('images/loligod/000166.webp');
  }

  27.83% {
    background-image: url('images/loligod/000167.webp');
  }

  28.00% {
    background-image: url('images/loligod/000168.webp');
  }

  28.17% {
    background-image: url('images/loligod/000169.webp');
  }

  28.33% {
    background-image: url('images/loligod/000170.webp');
  }

  28.50% {
    background-image: url('images/loligod/000171.webp');
  }

  28.67% {
    background-image: url('images/loligod/000172.webp');
  }

  28.83% {
    background-image: url('images/loligod/000173.webp');
  }

  29.00% {
    background-image: url('images/loligod/000174.webp');
  }

  29.17% {
    background-image: url('images/loligod/000175.webp');
  }

  29.33% {
    background-image: url('images/loligod/000176.webp');
  }

  29.50% {
    background-image: url('images/loligod/000177.webp');
  }

  29.67% {
    background-image: url('images/loligod/000178.webp');
  }

  29.83% {
    background-image: url('images/loligod/000179.webp');
  }

  30.00% {
    background-image: url('images/loligod/000180.webp');
  }

  30.17% {
    background-image: url('images/loligod/000181.webp');
  }

  30.33% {
    background-image: url('images/loligod/000182.webp');
  }

  30.50% {
    background-image: url('images/loligod/000183.webp');
  }

  30.67% {
    background-image: url('images/loligod/000184.webp');
  }

  30.83% {
    background-image: url('images/loligod/000185.webp');
  }

  31.00% {
    background-image: url('images/loligod/000186.webp');
  }

  31.17% {
    background-image: url('images/loligod/000187.webp');
  }

  31.33% {
    background-image: url('images/loligod/000188.webp');
  }

  31.50% {
    background-image: url('images/loligod/000189.webp');
  }

  31.67% {
    background-image: url('images/loligod/000190.webp');
  }

  31.83% {
    background-image: url('images/loligod/000191.webp');
  }

  32.00% {
    background-image: url('images/loligod/000192.webp');
  }

  32.17% {
    background-image: url('images/loligod/000193.webp');
  }

  32.33% {
    background-image: url('images/loligod/000194.webp');
  }

  32.50% {
    background-image: url('images/loligod/000195.webp');
  }

  32.67% {
    background-image: url('images/loligod/000196.webp');
  }

  32.83% {
    background-image: url('images/loligod/000197.webp');
  }

  33.00% {
    background-image: url('images/loligod/000198.webp');
  }

  33.17% {
    background-image: url('images/loligod/000199.webp');
  }

  33.33% {
    background-image: url('images/loligod/000200.webp');
  }

  33.50% {
    background-image: url('images/loligod/000201.webp');
  }

  33.67% {
    background-image: url('images/loligod/000202.webp');
  }

  33.83% {
    background-image: url('images/loligod/000203.webp');
  }

  34.00% {
    background-image: url('images/loligod/000204.webp');
  }

  34.17% {
    background-image: url('images/loligod/000205.webp');
  }

  34.33% {
    background-image: url('images/loligod/000206.webp');
  }

  34.50% {
    background-image: url('images/loligod/000207.webp');
  }

  34.67% {
    background-image: url('images/loligod/000208.webp');
  }

  34.83% {
    background-image: url('images/loligod/000209.webp');
  }

  35.00% {
    background-image: url('images/loligod/000210.webp');
  }

  35.17% {
    background-image: url('images/loligod/000211.webp');
  }

  35.33% {
    background-image: url('images/loligod/000212.webp');
  }

  35.50% {
    background-image: url('images/loligod/000213.webp');
  }

  35.67% {
    background-image: url('images/loligod/000214.webp');
  }

  35.83% {
    background-image: url('images/loligod/000215.webp');
  }

  36.00% {
    background-image: url('images/loligod/000216.webp');
  }

  36.17% {
    background-image: url('images/loligod/000217.webp');
  }

  36.33% {
    background-image: url('images/loligod/000218.webp');
  }

  36.50% {
    background-image: url('images/loligod/000219.webp');
  }

  36.67% {
    background-image: url('images/loligod/000220.webp');
  }

  36.83% {
    background-image: url('images/loligod/000221.webp');
  }

  37.00% {
    background-image: url('images/loligod/000222.webp');
  }

  37.17% {
    background-image: url('images/loligod/000223.webp');
  }

  37.33% {
    background-image: url('images/loligod/000224.webp');
  }

  37.50% {
    background-image: url('images/loligod/000225.webp');
  }

  37.67% {
    background-image: url('images/loligod/000226.webp');
  }

  37.83% {
    background-image: url('images/loligod/000227.webp');
  }

  38.00% {
    background-image: url('images/loligod/000228.webp');
  }

  38.17% {
    background-image: url('images/loligod/000229.webp');
  }

  38.33% {
    background-image: url('images/loligod/000230.webp');
  }

  38.50% {
    background-image: url('images/loligod/000231.webp');
  }

  38.67% {
    background-image: url('images/loligod/000232.webp');
  }

  38.83% {
    background-image: url('images/loligod/000233.webp');
  }

  39.00% {
    background-image: url('images/loligod/000234.webp');
  }

  39.17% {
    background-image: url('images/loligod/000235.webp');
  }

  39.33% {
    background-image: url('images/loligod/000236.webp');
  }

  39.50% {
    background-image: url('images/loligod/000237.webp');
  }

  39.67% {
    background-image: url('images/loligod/000238.webp');
  }

  39.83% {
    background-image: url('images/loligod/000239.webp');
  }

  40.00% {
    background-image: url('images/loligod/000240.webp');
  }

  40.17% {
    background-image: url('images/loligod/000241.webp');
  }

  40.33% {
    background-image: url('images/loligod/000242.webp');
  }

  40.50% {
    background-image: url('images/loligod/000243.webp');
  }

  40.67% {
    background-image: url('images/loligod/000244.webp');
  }

  40.83% {
    background-image: url('images/loligod/000245.webp');
  }

  41.00% {
    background-image: url('images/loligod/000246.webp');
  }

  41.17% {
    background-image: url('images/loligod/000247.webp');
  }

  41.33% {
    background-image: url('images/loligod/000248.webp');
  }

  41.50% {
    background-image: url('images/loligod/000249.webp');
  }

  41.67% {
    background-image: url('images/loligod/000250.webp');
  }

  41.83% {
    background-image: url('images/loligod/000251.webp');
  }

  42.00% {
    background-image: url('images/loligod/000252.webp');
  }

  42.17% {
    background-image: url('images/loligod/000253.webp');
  }

  42.33% {
    background-image: url('images/loligod/000254.webp');
  }

  42.50% {
    background-image: url('images/loligod/000255.webp');
  }

  42.67% {
    background-image: url('images/loligod/000256.webp');
  }

  42.83% {
    background-image: url('images/loligod/000257.webp');
  }

  43.00% {
    background-image: url('images/loligod/000258.webp');
  }

  43.17% {
    background-image: url('images/loligod/000259.webp');
  }

  43.33% {
    background-image: url('images/loligod/000260.webp');
  }

  43.50% {
    background-image: url('images/loligod/000261.webp');
  }

  43.67% {
    background-image: url('images/loligod/000262.webp');
  }

  43.83% {
    background-image: url('images/loligod/000263.webp');
  }

  44.00% {
    background-image: url('images/loligod/000264.webp');
  }

  44.17% {
    background-image: url('images/loligod/000265.webp');
  }

  44.33% {
    background-image: url('images/loligod/000266.webp');
  }

  44.50% {
    background-image: url('images/loligod/000267.webp');
  }

  44.67% {
    background-image: url('images/loligod/000268.webp');
  }

  44.83% {
    background-image: url('images/loligod/000269.webp');
  }

  45.00% {
    background-image: url('images/loligod/000270.webp');
  }

  45.17% {
    background-image: url('images/loligod/000271.webp');
  }

  45.33% {
    background-image: url('images/loligod/000272.webp');
  }

  45.50% {
    background-image: url('images/loligod/000273.webp');
  }

  45.67% {
    background-image: url('images/loligod/000274.webp');
  }

  45.83% {
    background-image: url('images/loligod/000275.webp');
  }

  46.00% {
    background-image: url('images/loligod/000276.webp');
  }

  46.17% {
    background-image: url('images/loligod/000277.webp');
  }

  46.33% {
    background-image: url('images/loligod/000278.webp');
  }

  46.50% {
    background-image: url('images/loligod/000279.webp');
  }

  46.67% {
    background-image: url('images/loligod/000280.webp');
  }

  46.83% {
    background-image: url('images/loligod/000281.webp');
  }

  47.00% {
    background-image: url('images/loligod/000282.webp');
  }

  47.17% {
    background-image: url('images/loligod/000283.webp');
  }

  47.33% {
    background-image: url('images/loligod/000284.webp');
  }

  47.50% {
    background-image: url('images/loligod/000285.webp');
  }

  47.67% {
    background-image: url('images/loligod/000286.webp');
  }

  47.83% {
    background-image: url('images/loligod/000287.webp');
  }

  48.00% {
    background-image: url('images/loligod/000288.webp');
  }

  48.17% {
    background-image: url('images/loligod/000289.webp');
  }

  48.33% {
    background-image: url('images/loligod/000290.webp');
  }

  48.50% {
    background-image: url('images/loligod/000291.webp');
  }

  48.67% {
    background-image: url('images/loligod/000292.webp');
  }

  48.83% {
    background-image: url('images/loligod/000293.webp');
  }

  49.00% {
    background-image: url('images/loligod/000294.webp');
  }

  49.17% {
    background-image: url('images/loligod/000295.webp');
  }

  49.33% {
    background-image: url('images/loligod/000296.webp');
  }

  49.50% {
    background-image: url('images/loligod/000297.webp');
  }

  49.67% {
    background-image: url('images/loligod/000298.webp');
  }

  49.83% {
    background-image: url('images/loligod/000299.webp');
  }

  50.00% {
    background-image: url('images/loligod/000300.webp');
  }

  50.17% {
    background-image: url('images/loligod/000301.webp');
  }

  50.33% {
    background-image: url('images/loligod/000302.webp');
  }

  50.50% {
    background-image: url('images/loligod/000303.webp');
  }

  50.67% {
    background-image: url('images/loligod/000304.webp');
  }

  50.83% {
    background-image: url('images/loligod/000305.webp');
  }

  51.00% {
    background-image: url('images/loligod/000306.webp');
  }

  51.17% {
    background-image: url('images/loligod/000307.webp');
  }

  51.33% {
    background-image: url('images/loligod/000308.webp');
  }

  51.50% {
    background-image: url('images/loligod/000309.webp');
  }

  51.67% {
    background-image: url('images/loligod/000310.webp');
  }

  51.83% {
    background-image: url('images/loligod/000311.webp');
  }

  52.00% {
    background-image: url('images/loligod/000312.webp');
  }

  52.17% {
    background-image: url('images/loligod/000313.webp');
  }

  52.33% {
    background-image: url('images/loligod/000314.webp');
  }

  52.50% {
    background-image: url('images/loligod/000315.webp');
  }

  52.67% {
    background-image: url('images/loligod/000316.webp');
  }

  52.83% {
    background-image: url('images/loligod/000317.webp');
  }

  53.00% {
    background-image: url('images/loligod/000318.webp');
  }

  53.17% {
    background-image: url('images/loligod/000319.webp');
  }

  53.33% {
    background-image: url('images/loligod/000320.webp');
  }

  53.50% {
    background-image: url('images/loligod/000321.webp');
  }

  53.67% {
    background-image: url('images/loligod/000322.webp');
  }

  53.83% {
    background-image: url('images/loligod/000323.webp');
  }

  54.00% {
    background-image: url('images/loligod/000324.webp');
  }

  54.17% {
    background-image: url('images/loligod/000325.webp');
  }

  54.33% {
    background-image: url('images/loligod/000326.webp');
  }

  54.50% {
    background-image: url('images/loligod/000327.webp');
  }

  54.67% {
    background-image: url('images/loligod/000328.webp');
  }

  54.83% {
    background-image: url('images/loligod/000329.webp');
  }

  55.00% {
    background-image: url('images/loligod/000330.webp');
  }

  55.17% {
    background-image: url('images/loligod/000331.webp');
  }

  55.33% {
    background-image: url('images/loligod/000332.webp');
  }

  55.50% {
    background-image: url('images/loligod/000333.webp');
  }

  55.67% {
    background-image: url('images/loligod/000334.webp');
  }

  55.83% {
    background-image: url('images/loligod/000335.webp');
  }

  56.00% {
    background-image: url('images/loligod/000336.webp');
  }

  56.17% {
    background-image: url('images/loligod/000337.webp');
  }

  56.33% {
    background-image: url('images/loligod/000338.webp');
  }

  56.50% {
    background-image: url('images/loligod/000339.webp');
  }

  56.67% {
    background-image: url('images/loligod/000340.webp');
  }

  56.83% {
    background-image: url('images/loligod/000341.webp');
  }

  57.00% {
    background-image: url('images/loligod/000342.webp');
  }

  57.17% {
    background-image: url('images/loligod/000343.webp');
  }

  57.33% {
    background-image: url('images/loligod/000344.webp');
  }

  57.50% {
    background-image: url('images/loligod/000345.webp');
  }

  57.67% {
    background-image: url('images/loligod/000346.webp');
  }

  57.83% {
    background-image: url('images/loligod/000347.webp');
  }

  58.00% {
    background-image: url('images/loligod/000348.webp');
  }

  58.17% {
    background-image: url('images/loligod/000349.webp');
  }

  58.33% {
    background-image: url('images/loligod/000350.webp');
  }

  58.50% {
    background-image: url('images/loligod/000351.webp');
  }

  58.67% {
    background-image: url('images/loligod/000352.webp');
  }

  58.83% {
    background-image: url('images/loligod/000353.webp');
  }

  59.00% {
    background-image: url('images/loligod/000354.webp');
  }

  59.17% {
    background-image: url('images/loligod/000355.webp');
  }

  59.33% {
    background-image: url('images/loligod/000356.webp');
  }

  59.50% {
    background-image: url('images/loligod/000357.webp');
  }

  59.67% {
    background-image: url('images/loligod/000358.webp');
  }

  59.83% {
    background-image: url('images/loligod/000359.webp');
  }

  60.00% {
    background-image: url('images/loligod/000360.webp');
  }

  60.17% {
    background-image: url('images/loligod/000361.webp');
  }

  60.33% {
    background-image: url('images/loligod/000362.webp');
  }

  60.50% {
    background-image: url('images/loligod/000363.webp');
  }

  60.67% {
    background-image: url('images/loligod/000364.webp');
  }

  60.83% {
    background-image: url('images/loligod/000365.webp');
  }

  61.00% {
    background-image: url('images/loligod/000366.webp');
  }

  61.17% {
    background-image: url('images/loligod/000367.webp');
  }

  61.33% {
    background-image: url('images/loligod/000368.webp');
  }

  61.50% {
    background-image: url('images/loligod/000369.webp');
  }

  61.67% {
    background-image: url('images/loligod/000370.webp');
  }

  61.83% {
    background-image: url('images/loligod/000371.webp');
  }

  62.00% {
    background-image: url('images/loligod/000372.webp');
  }

  62.17% {
    background-image: url('images/loligod/000373.webp');
  }

  62.33% {
    background-image: url('images/loligod/000374.webp');
  }

  62.50% {
    background-image: url('images/loligod/000375.webp');
  }

  62.67% {
    background-image: url('images/loligod/000376.webp');
  }

  62.83% {
    background-image: url('images/loligod/000377.webp');
  }

  63.00% {
    background-image: url('images/loligod/000378.webp');
  }

  63.17% {
    background-image: url('images/loligod/000379.webp');
  }

  63.33% {
    background-image: url('images/loligod/000380.webp');
  }

  63.50% {
    background-image: url('images/loligod/000381.webp');
  }

  63.67% {
    background-image: url('images/loligod/000382.webp');
  }

  63.83% {
    background-image: url('images/loligod/000383.webp');
  }

  64.00% {
    background-image: url('images/loligod/000384.webp');
  }

  64.17% {
    background-image: url('images/loligod/000385.webp');
  }

  64.33% {
    background-image: url('images/loligod/000386.webp');
  }

  64.50% {
    background-image: url('images/loligod/000387.webp');
  }

  64.67% {
    background-image: url('images/loligod/000388.webp');
  }

  64.83% {
    background-image: url('images/loligod/000389.webp');
  }

  65.00% {
    background-image: url('images/loligod/000390.webp');
  }

  65.17% {
    background-image: url('images/loligod/000391.webp');
  }

  65.33% {
    background-image: url('images/loligod/000392.webp');
  }

  65.50% {
    background-image: url('images/loligod/000393.webp');
  }

  65.67% {
    background-image: url('images/loligod/000394.webp');
  }

  65.83% {
    background-image: url('images/loligod/000395.webp');
  }

  66.00% {
    background-image: url('images/loligod/000396.webp');
  }

  66.17% {
    background-image: url('images/loligod/000397.webp');
  }

  66.33% {
    background-image: url('images/loligod/000398.webp');
  }

  66.50% {
    background-image: url('images/loligod/000399.webp');
  }

  66.67% {
    background-image: url('images/loligod/000400.webp');
  }

  66.83% {
    background-image: url('images/loligod/000401.webp');
  }

  67.00% {
    background-image: url('images/loligod/000402.webp');
  }

  67.17% {
    background-image: url('images/loligod/000403.webp');
  }

  67.33% {
    background-image: url('images/loligod/000404.webp');
  }

  67.50% {
    background-image: url('images/loligod/000405.webp');
  }

  67.67% {
    background-image: url('images/loligod/000406.webp');
  }

  67.83% {
    background-image: url('images/loligod/000407.webp');
  }

  68.00% {
    background-image: url('images/loligod/000408.webp');
  }

  68.17% {
    background-image: url('images/loligod/000409.webp');
  }

  68.33% {
    background-image: url('images/loligod/000410.webp');
  }

  68.50% {
    background-image: url('images/loligod/000411.webp');
  }

  68.67% {
    background-image: url('images/loligod/000412.webp');
  }

  68.83% {
    background-image: url('images/loligod/000413.webp');
  }

  69.00% {
    background-image: url('images/loligod/000414.webp');
  }

  69.17% {
    background-image: url('images/loligod/000415.webp');
  }

  69.33% {
    background-image: url('images/loligod/000416.webp');
  }

  69.50% {
    background-image: url('images/loligod/000417.webp');
  }

  69.67% {
    background-image: url('images/loligod/000418.webp');
  }

  69.83% {
    background-image: url('images/loligod/000419.webp');
  }

  70.00% {
    background-image: url('images/loligod/000420.webp');
  }

  70.17% {
    background-image: url('images/loligod/000421.webp');
  }

  70.33% {
    background-image: url('images/loligod/000422.webp');
  }

  70.50% {
    background-image: url('images/loligod/000423.webp');
  }

  70.67% {
    background-image: url('images/loligod/000424.webp');
  }

  70.83% {
    background-image: url('images/loligod/000425.webp');
  }

  71.00% {
    background-image: url('images/loligod/000426.webp');
  }

  71.17% {
    background-image: url('images/loligod/000427.webp');
  }

  71.33% {
    background-image: url('images/loligod/000428.webp');
  }

  71.50% {
    background-image: url('images/loligod/000429.webp');
  }

  71.67% {
    background-image: url('images/loligod/000430.webp');
  }

  71.83% {
    background-image: url('images/loligod/000431.webp');
  }

  72.00% {
    background-image: url('images/loligod/000432.webp');
  }

  72.17% {
    background-image: url('images/loligod/000433.webp');
  }

  72.33% {
    background-image: url('images/loligod/000434.webp');
  }

  72.50% {
    background-image: url('images/loligod/000435.webp');
  }

  72.67% {
    background-image: url('images/loligod/000436.webp');
  }

  72.83% {
    background-image: url('images/loligod/000437.webp');
  }

  73.00% {
    background-image: url('images/loligod/000438.webp');
  }

  73.17% {
    background-image: url('images/loligod/000439.webp');
  }

  73.33% {
    background-image: url('images/loligod/000440.webp');
  }

  73.50% {
    background-image: url('images/loligod/000441.webp');
  }

  73.67% {
    background-image: url('images/loligod/000442.webp');
  }

  73.83% {
    background-image: url('images/loligod/000443.webp');
  }

  74.00% {
    background-image: url('images/loligod/000444.webp');
  }

  74.17% {
    background-image: url('images/loligod/000445.webp');
  }

  74.33% {
    background-image: url('images/loligod/000446.webp');
  }

  74.50% {
    background-image: url('images/loligod/000447.webp');
  }

  74.67% {
    background-image: url('images/loligod/000448.webp');
  }

  74.83% {
    background-image: url('images/loligod/000449.webp');
  }

  75.00% {
    background-image: url('images/loligod/000450.webp');
  }

  75.17% {
    background-image: url('images/loligod/000451.webp');
  }

  75.33% {
    background-image: url('images/loligod/000452.webp');
  }

  75.50% {
    background-image: url('images/loligod/000453.webp');
  }

  75.67% {
    background-image: url('images/loligod/000454.webp');
  }

  75.83% {
    background-image: url('images/loligod/000455.webp');
  }

  76.00% {
    background-image: url('images/loligod/000456.webp');
  }

  76.17% {
    background-image: url('images/loligod/000457.webp');
  }

  76.33% {
    background-image: url('images/loligod/000458.webp');
  }

  76.50% {
    background-image: url('images/loligod/000459.webp');
  }

  76.67% {
    background-image: url('images/loligod/000460.webp');
  }

  76.83% {
    background-image: url('images/loligod/000461.webp');
  }

  77.00% {
    background-image: url('images/loligod/000462.webp');
  }

  77.17% {
    background-image: url('images/loligod/000463.webp');
  }

  77.33% {
    background-image: url('images/loligod/000464.webp');
  }

  77.50% {
    background-image: url('images/loligod/000465.webp');
  }

  77.67% {
    background-image: url('images/loligod/000466.webp');
  }

  77.83% {
    background-image: url('images/loligod/000467.webp');
  }

  78.00% {
    background-image: url('images/loligod/000468.webp');
  }

  78.17% {
    background-image: url('images/loligod/000469.webp');
  }

  78.33% {
    background-image: url('images/loligod/000470.webp');
  }

  78.50% {
    background-image: url('images/loligod/000471.webp');
  }

  78.67% {
    background-image: url('images/loligod/000472.webp');
  }

  78.83% {
    background-image: url('images/loligod/000473.webp');
  }

  79.00% {
    background-image: url('images/loligod/000474.webp');
  }

  79.17% {
    background-image: url('images/loligod/000475.webp');
  }

  79.33% {
    background-image: url('images/loligod/000476.webp');
  }

  79.50% {
    background-image: url('images/loligod/000477.webp');
  }

  79.67% {
    background-image: url('images/loligod/000478.webp');
  }

  79.83% {
    background-image: url('images/loligod/000479.webp');
  }

  80.00% {
    background-image: url('images/loligod/000480.webp');
  }

  80.17% {
    background-image: url('images/loligod/000481.webp');
  }

  80.33% {
    background-image: url('images/loligod/000482.webp');
  }

  80.50% {
    background-image: url('images/loligod/000483.webp');
  }

  80.67% {
    background-image: url('images/loligod/000484.webp');
  }

  80.83% {
    background-image: url('images/loligod/000485.webp');
  }

  81.00% {
    background-image: url('images/loligod/000486.webp');
  }

  81.17% {
    background-image: url('images/loligod/000487.webp');
  }

  81.33% {
    background-image: url('images/loligod/000488.webp');
  }

  81.50% {
    background-image: url('images/loligod/000489.webp');
  }

  81.67% {
    background-image: url('images/loligod/000490.webp');
  }

  81.83% {
    background-image: url('images/loligod/000491.webp');
  }

  82.00% {
    background-image: url('images/loligod/000492.webp');
  }

  82.17% {
    background-image: url('images/loligod/000493.webp');
  }

  82.33% {
    background-image: url('images/loligod/000494.webp');
  }

  82.50% {
    background-image: url('images/loligod/000495.webp');
  }

  82.67% {
    background-image: url('images/loligod/000496.webp');
  }

  82.83% {
    background-image: url('images/loligod/000497.webp');
  }

  83.00% {
    background-image: url('images/loligod/000498.webp');
  }

  83.17% {
    background-image: url('images/loligod/000499.webp');
  }

  83.33% {
    background-image: url('images/loligod/000500.webp');
  }

  83.50% {
    background-image: url('images/loligod/000501.webp');
  }

  83.67% {
    background-image: url('images/loligod/000502.webp');
  }

  83.83% {
    background-image: url('images/loligod/000503.webp');
  }

  84.00% {
    background-image: url('images/loligod/000504.webp');
  }

  84.17% {
    background-image: url('images/loligod/000505.webp');
  }

  84.33% {
    background-image: url('images/loligod/000506.webp');
  }

  84.50% {
    background-image: url('images/loligod/000507.webp');
  }

  84.67% {
    background-image: url('images/loligod/000508.webp');
  }

  84.83% {
    background-image: url('images/loligod/000509.webp');
  }

  85.00% {
    background-image: url('images/loligod/000510.webp');
  }

  85.17% {
    background-image: url('images/loligod/000511.webp');
  }

  85.33% {
    background-image: url('images/loligod/000512.webp');
  }

  85.50% {
    background-image: url('images/loligod/000513.webp');
  }

  85.67% {
    background-image: url('images/loligod/000514.webp');
  }

  85.83% {
    background-image: url('images/loligod/000515.webp');
  }

  86.00% {
    background-image: url('images/loligod/000516.webp');
  }

  86.17% {
    background-image: url('images/loligod/000517.webp');
  }

  86.33% {
    background-image: url('images/loligod/000518.webp');
  }

  86.50% {
    background-image: url('images/loligod/000519.webp');
  }

  86.67% {
    background-image: url('images/loligod/000520.webp');
  }

  86.83% {
    background-image: url('images/loligod/000521.webp');
  }

  87.00% {
    background-image: url('images/loligod/000522.webp');
  }

  87.17% {
    background-image: url('images/loligod/000523.webp');
  }

  87.33% {
    background-image: url('images/loligod/000524.webp');
  }

  87.50% {
    background-image: url('images/loligod/000525.webp');
  }

  87.67% {
    background-image: url('images/loligod/000526.webp');
  }

  87.83% {
    background-image: url('images/loligod/000527.webp');
  }

  88.00% {
    background-image: url('images/loligod/000528.webp');
  }

  88.17% {
    background-image: url('images/loligod/000529.webp');
  }

  88.33% {
    background-image: url('images/loligod/000530.webp');
  }

  88.50% {
    background-image: url('images/loligod/000531.webp');
  }

  88.67% {
    background-image: url('images/loligod/000532.webp');
  }

  88.83% {
    background-image: url('images/loligod/000533.webp');
  }

  89.00% {
    background-image: url('images/loligod/000534.webp');
  }

  89.17% {
    background-image: url('images/loligod/000535.webp');
  }

  89.33% {
    background-image: url('images/loligod/000536.webp');
  }

  89.50% {
    background-image: url('images/loligod/000537.webp');
  }

  89.67% {
    background-image: url('images/loligod/000538.webp');
  }

  89.83% {
    background-image: url('images/loligod/000539.webp');
  }

  90.00% {
    background-image: url('images/loligod/000540.webp');
  }

  90.17% {
    background-image: url('images/loligod/000541.webp');
  }

  90.33% {
    background-image: url('images/loligod/000542.webp');
  }

  90.50% {
    background-image: url('images/loligod/000543.webp');
  }

  90.67% {
    background-image: url('images/loligod/000544.webp');
  }

  90.83% {
    background-image: url('images/loligod/000545.webp');
  }

  91.00% {
    background-image: url('images/loligod/000546.webp');
  }

  91.17% {
    background-image: url('images/loligod/000547.webp');
  }

  91.33% {
    background-image: url('images/loligod/000548.webp');
  }

  91.50% {
    background-image: url('images/loligod/000549.webp');
  }

  91.67% {
    background-image: url('images/loligod/000550.webp');
  }

  91.83% {
    background-image: url('images/loligod/000551.webp');
  }

  92.00% {
    background-image: url('images/loligod/000552.webp');
  }

  92.17% {
    background-image: url('images/loligod/000553.webp');
  }

  92.33% {
    background-image: url('images/loligod/000554.webp');
  }

  92.50% {
    background-image: url('images/loligod/000555.webp');
  }

  92.67% {
    background-image: url('images/loligod/000556.webp');
  }

  92.83% {
    background-image: url('images/loligod/000557.webp');
  }

  93.00% {
    background-image: url('images/loligod/000558.webp');
  }

  93.17% {
    background-image: url('images/loligod/000559.webp');
  }

  93.33% {
    background-image: url('images/loligod/000560.webp');
  }

  93.50% {
    background-image: url('images/loligod/000561.webp');
  }

  93.67% {
    background-image: url('images/loligod/000562.webp');
  }

  93.83% {
    background-image: url('images/loligod/000563.webp');
  }

  94.00% {
    background-image: url('images/loligod/000564.webp');
  }

  94.17% {
    background-image: url('images/loligod/000565.webp');
  }

  94.33% {
    background-image: url('images/loligod/000566.webp');
  }

  94.50% {
    background-image: url('images/loligod/000567.webp');
  }

  94.67% {
    background-image: url('images/loligod/000568.webp');
  }

  94.83% {
    background-image: url('images/loligod/000569.webp');
  }

  95.00% {
    background-image: url('images/loligod/000570.webp');
  }

  95.17% {
    background-image: url('images/loligod/000571.webp');
  }

  95.33% {
    background-image: url('images/loligod/000572.webp');
  }

  95.50% {
    background-image: url('images/loligod/000573.webp');
  }

  95.67% {
    background-image: url('images/loligod/000574.webp');
  }

  95.83% {
    background-image: url('images/loligod/000575.webp');
  }

  96.00% {
    background-image: url('images/loligod/000576.webp');
  }

  96.17% {
    background-image: url('images/loligod/000577.webp');
  }

  96.33% {
    background-image: url('images/loligod/000578.webp');
  }

  96.50% {
    background-image: url('images/loligod/000579.webp');
  }

  96.67% {
    background-image: url('images/loligod/000580.webp');
  }

  96.83% {
    background-image: url('images/loligod/000581.webp');
  }

  97.00% {
    background-image: url('images/loligod/000582.webp');
  }

  97.17% {
    background-image: url('images/loligod/000583.webp');
  }

  97.33% {
    background-image: url('images/loligod/000584.webp');
  }

  97.50% {
    background-image: url('images/loligod/000585.webp');
  }

  97.67% {
    background-image: url('images/loligod/000586.webp');
  }

  97.83% {
    background-image: url('images/loligod/000587.webp');
  }

  98.00% {
    background-image: url('images/loligod/000588.webp');
  }

  98.17% {
    background-image: url('images/loligod/000589.webp');
  }

  98.33% {
    background-image: url('images/loligod/000590.webp');
  }

  98.50% {
    background-image: url('images/loligod/000591.webp');
  }

  98.67% {
    background-image: url('images/loligod/000592.webp');
  }

  98.83% {
    background-image: url('images/loligod/000593.webp');
  }

  99.00% {
    background-image: url('images/loligod/000594.webp');
  }

  99.17% {
    background-image: url('images/loligod/000595.webp');
  }

  99.33% {
    background-image: url('images/loligod/000596.webp');
  }

  99.50% {
    background-image: url('images/loligod/000597.webp');
  }

  99.67% {
    background-image: url('images/loligod/000598.webp');
  }
}
